{% extends "base.html" %}
{% load static %}
{% block title %}
- Cart
{% endblock title %}

{% block main %}
    <legend><h1>Cart</h1></legend>
    {% if cart_list%}
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Quantity</th>
            </tr>
            {% for product, quantity in cart_list.items %}
                <tr class="{{ product.sears_id }}_row">
                    <td>
                        <a href="{% url 'products:product_detail' product.sears_id %}">
                            {{product}}
                        </a>
                    </td>
                    <td>{{ product.price }}$</td>
                    <td class="{{ product.sears_id }}_quantity">{{ quantity }}</td>
                    <td>
                        <form class="remove_form" action="{% url 'userservice:remove_from_cart' %}" method="post">
                            {% csrf_token %}
                            <input type="number" name="quantity" size="3" value="{{ quantity }}" min="0" max="{{ quantity }}"/>
                            <button name="product" value="{{ product.sears_id }}">Remove</button>
                        </form>
                    </td>
                    <td>
                        <form class="add_form" action="{% url 'userservice:add_to_cart' %}" method="post">
                            {%csrf_token%}
                            <input type="hidden" name="reverse" value="userservice:cart"/>
                            <input type="number" name="quantity" size="3" value="1" min="0"/>
                            <button name="product" value="{{ product.sears_id }}">Add</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <form class='flush_form' action="{% url 'userservice:flush_cart' %}" method="post">
                        {%csrf_token%}
                        <button name="reverse" value='userservice:cart'>Clear cart</button>
                    </form>
                </td>
            </tr>
        </table>
    {% else %}
        <h3>Cart is empty</h3>
    {% endif %}
        
{% endblock main %}


{% block scripts %}
    <script src="{% static 'userservice/change_cart_amount.js' %}"></script>
    <script src="{% static 'userservice/flush_cart.js' %}"></script>
{% endblock scripts %}