{% extends "base.html" %}

{% block title %}
- Edit
{% endblock title %}

{% block main %}
<h1>Edit product {{product_details.sears_id}}</h1>
<form action = "" method = "post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit">
</form>
<form action = "{% url 'products:update' %}" method = "post">
    {% csrf_token %}
    <input name='product' value="{{ product_details.sears_id }}" type='hidden'>
    <button name='reverse' value="{% url 'products:edit' product_details.sears_id%}">Update from sears</button>
</form>
{% endblock main %}