{% extends "base.html" %}
{% load static %}
<script type="text/javascript" src="{% static 'cartutils.js' %}"></script>
{% block title %}
- {{ current }} Products
{% endblock title %}

{% block subheader %}
    {% for category in categories %}
        {% if category.products.exists %}
            <a href="{% url 'products:category_list' category %}">
                {{category}}    
            </a>
        {% endif %}
    {% endfor %}
{% endblock subheader %}

{% block main %}
    {% if products_list %}
        <legend><h1>{{ current }} products</h1></legend>
        <table>
        {% csrf_token %}
            <tr>
                <th>Name</th>
                <th>Cost</th>
            </tr>
            {% for product in products_list %}
                <tr>
                    <td>
                        <a href="{% url 'products:product_detail' product.sears_id %}">
                            {{ product.product_name}}
                        </a>
                    </td>
                    <td>{{ product.price}}$</td>
                    <td>
                        <button class="add_to_cart_btn" data-searsid="{{ product.sears_id }}">
                            Add to Cart
                        </button>
                    </td>
                <tr>
            {% endfor %}
    {% else %}
        Category does not exists or empty
    {% endif %}
{% endblock main %}

{% block scripts %}
    <script src="{% static 'userservice/add_to_cart.js' %}"></script>
{% endblock scripts %}