<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        {% block head %}
        
        {% endblock head %}
        <title>
          My products 
          {% block title %}
          {% endblock title %}
        </title>
    </head>
    <body>
        <div>
            <h3>
                {% include "header.html" %}
                {% block header %}
                {% endblock header %}
            </h3>
            <h4>
                {% block subheader %}
                {% endblock subheader %}
            </h4>
        </div>
        {% block main %}
        {% endblock main %}

        {% block scripts %}
        
        {% endblock scripts %}
    </body>
</html>